---
name: CI

permissions:
  contents: read

'on':
  pull_request:
  push:
    branches:
      - main

defaults:
  run:
    working-directory: 'sebdanielsson.cloudflared'

jobs:
  lint:
    name: Run yaml-lint and ansible-lint
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Run ansible-lint
        uses: ansible/ansible-lint@v25.9.2
        with:
          setup_python: "true"
          requirements_file: "requirements.yml"

  molecule:
    name: Molecule Test
    runs-on: ubuntu-24.04-arm
    strategy:
      matrix:
        include:
          - docker_image: debian
            docker_tag: '13'
            playbook: converge.yml
            experimental: false

          - docker_image: ubuntu
            docker_tag: '24.04'
            playbook: converge.yml
            experimental: false

          - docker_image: fedora
            docker_tag: '42'
            playbook: converge.yml
            experimental: false

          - docker_image: redhat/ubi9
            docker_tag: '9.6'
            playbook: converge.yml
            experimental: false

    steps:
      - name: Check out the codebase
        uses: actions/checkout@v5
        with:
          path: 'sebdanielsson.cloudflared'

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Molecule tests
        run: molecule test --shared-state
        continue-on-error: ${{ matrix.experimental }}
        env:
          PY_COLORS: '1'
          ANSIBLE_FORCE_COLOR: '1'
          MOLECULE_DOCKER_IMAGE: ${{ matrix.docker_image }}
          MOLECULE_DOCKER_TAG: ${{ matrix.docker_tag }}
          MOLECULE_PLAYBOOK: ${{ matrix.playbook }}

  migration-test:
    name: Migration Test
    runs-on: ubuntu-24.04-arm
    strategy:
      matrix:
        include:
          - docker_image: debian
            docker_tag: '12'  # Latest possible because of migration from flavor-specific to any suite
            experimental: false

          - docker_image: ubuntu
            docker_tag: '24.04'
            experimental: false

    steps:
      - name: Check out the codebase
        uses: actions/checkout@v5
        with:
          path: 'sebdanielsson.cloudflared'

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Migration Molecule tests
        run: molecule test -s migration
        continue-on-error: ${{ matrix.experimental }}
        env:
          PY_COLORS: '1'
          ANSIBLE_FORCE_COLOR: '1'
          MOLECULE_DOCKER_IMAGE: ${{ matrix.docker_image }}
          MOLECULE_DOCKER_TAG: ${{ matrix.docker_tag }}
