---
# Thank you to https://github.com/geerlingguy for this awesome action.

name: Release
'on':
  push:
    tags:
      - '*'

defaults:
  run:
    working-directory: 'sebdanielsson.cloudflared'

jobs:
  release:
    name: Publish
    runs-on: ubuntu-22.04
    steps:
      - name: Check out the codebase
        uses: actions/checkout@v3.5.1
        with:
          path: 'sebdanielsson.cloudflared'

      - name: Set up Python
        uses: actions/setup-python@v4.5.0
        with:
          python-version: '3.11'

      - name: Install Ansible
        run: pip install -r requirements.txt

      - name: Publish to Ansible Galaxy
        run: >-
          ansible-galaxy role import --api-key ${{ secrets.GALAXY_API_KEY }}
          $(echo ${{ github.repository }} | cut -d/ -f1) $(echo ${{ github.repository }} | cut -d/ -f2)
