---
name: yaml-lint
'on': [push, pull_request]

jobs:
  build:
    name: YAML Lint
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: YAML Lint
        uses: ibiqlik/action-yamllint@v3.1.1
